<div id="changeLanguage">
    <button type="button"class="btn btn-secondary btn-sm" {{action 'changeLang' 'it'}}>{{t "BUTTON_LANG_IT"}}</button>
    <button type="button"class="btn btn-secondary btn-sm" {{action 'changeLang' 'en'}}>{{t "BUTTON_LANG_EN"}}</button>
</div> 