<header>
    <h1>{{t "TITLE"}}</h1>
</header> 

{{top-nav}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {{outlet}}
        </div>
    </div>
</div>
